* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearence: none;
    margin: 0;
}

body{
    background-color: #e7e7e7;
}

body, input, button{
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 1.3em;
}

.container{
    max-width: 600px;
    margin: auto;
}

header > .container{
    text-align: center;
    width: 100%;
    font-weight: 300;
    padding: 70px;
}

header h1{
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

header span{
    font-size: 15px;
    color: #ed2553;
}

header strong{
    color: #ed2553;
}

.pen{
    letter-spacing: 2px;
}

section .forma-form{
    max-width: 460px;
    margin: auto;
    background-color: white;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.087);
}

section .forma-form #form-test{
    padding: 0 60px;
}

section .forma-form h2{
    padding: 80px 0px 50px 0px;
    text-indent: 60px;
    font-weight: 600;
    color: #ed2553;
}

section .forma-form form input{
    margin: 10px 50px 50px 0px;
    width: 100%;
    font-size: 20px;
    padding-bottom: 10px;
    border-width: 0.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 300;
}

section .forma-form form input:focus{
    outline: none;
    border-color: #ed2553;
}

section .forma-form form button{
    width: 220px;
    height: 70px;
    margin: auto;
    border-color: #e0e0e0;
    border-style: solid;
    color: #e0e0e0;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
}

section .forma-form form button:hover{
    border-color: #ed2553;
    color: #ed2553;
    cursor: pointer;
}

section .forma-form form button:focus{
    border-color: #ed2553;
    outline-color: #ed2553;
    color: #ed2553;
}

section .forma-form #mensagem{ 
    text-align: center;
    padding: 30px 0;
    width: 340px;
    margin: auto;
    font-size: 19px;
}

form input,form button{
    display: block;
}








